{% extends "web/base.html" %}

{% block page_id %}groups{% endblock %}

{% block title %}Groups - {{ server_name }}{% endblock %}

{% block content %}
  <div class="page-header">
    <div>
      <h1 class="page-title">Groups</h1>
    </div>
    <div id="groups-actions" class="is-hidden">
      <a class="button" href="/groups/new/">New group</a>
    </div>
  </div>

  <div id="groups-status" class="muted">Loading...</div>
  <div id="groups-results" class="books"></div>

  <div class="pager">
    <button id="groups-prev" class="button" type="button" disabled>Previous</button>
    <button id="groups-next" class="button" type="button" disabled>Next</button>
  </div>
{% endblock %}
